.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.recipiesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--size1);
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 70%;
  align-self: center;
}